<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <resultMap id="BaseResultMap" type="com.account.domain.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int">
        SELECT
        <include refid="Base_Column_List"/>
        from USER
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="int">
        DELETE FROM USER
        WHERE id =#{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.account.domain.User">
        INSERT INTO USER (NAME )VALUE (#{NAME ,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.account.domain.User">
        INSERT INTO USER
        <trim prefix="("suffix=")" suffixOverrides=",">
            <if test="id != null ">
                id
            </if>
            <if test="name != null">
                NAME
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="id != null ">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.account.domain.User">
        UPDATE USER
        <set>
            <if test="name!=null">
                name = #{name,jdbcType=VARCHAR}
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.account.domain.User">
        UPDATE USER
        <set>
                name = #{name,jdbcType=VARCHAR}
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findUserByName" resultMap="BaseResultMap" parameterType="string">
        SELECT
        <include refid="Base_Column_List"/>
        FROM USER
        WHERE NAME  = #{username,jdbcType=VARCHAR}
    </select>
</mapper>